<div class="container">
    <h1 classs="text-center">Projectos</h1><hr>
    <div *ngFor="let project of projects" class="card project">
        <a [routerLink]="['/proyecto',project._id]" title="Ver informacion del Proyecto">
            <div class="image">
                <img src="{{url+'get-image/'+project.image}}" alt="Imagen del proyecto"/>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{project.name}}</h3>
                <p class="card-text">{{project.category}}</p>
            </div>  
        </a>
    </div>
</div>
